# Python 相关
__pycache__/
*.pyc
*.pyo
*.pyd

# 虚拟环境
.venv/
env/

# IDE 配置
.vscode/
.idea/

# 数据文件
*.pt
*.h5
*.npy
*.png

# 日志和缓存
*.log
*.tmp
tool_radii2_50_radii1_5_cr_1.1_delta_0_height_25/
*.lock
*.h5
